{% include svg-icons.html %}


<head>

【官方网址|各大高校进步社团最新消息文章获取】
  
</head>

<p align="left">
  
全中国、全社会关注高校保卫社团行动的正义人士：</br>

★网址★

<a href= "https://jinbust.github.io/">https://jinbust.github.io/ </a>

为相关消息的官方发布网址，请大家收藏，经常浏览，积极转发！目前已经封锁，但将保持即时更新，推荐大家翻墙！</br>
  
  
★以下网站可以免翻墙浏览，也将第一时间保持更新★

<a href= "https://jinbust01.github.io/">https://jinbust01.github.io/ </a></br>

如以上网址打不开，请将数字递增为02、03、04...以此类推！</br>

  
</p>

<p align="left">
  
  网页可能无法打开/打开很卡，按下面方法操作可改善浏览体验：</br>

  1.复制链接到【浏览器】打开。

<a href= "https://m.baidu.com/paw/c/s/m.qqtn.com/mipq/326515.html">https://m.baidu.com/paw/c/s/m.qqtn.com/mipq/326515.html</a></br>

  2.点击“立即下载”，下载“APKPure”。</br>

  3.在APKPure里搜索“KeyVPN”软件，下载。或搜索VPN，尝试其他高评分软件。</br>

  4.下载完成后打开“keyVPN”，点击圆形开机按钮，当显示“已连接”时即可顺畅访问官网。</br>

【小贴士】请不要在使用微信支付或支付宝的时候同时使用VPN软件，以免信息泄露！</br>
  
</p>

<p>
  
联系我们:<a href= "jiashishengyuantuan@gmail.com">jiashishengyuantuan@gmail.com</a>
  
</p>
{% if site.footer-text %}
<p>{{ site.footer-text }}</p>
{% endif %}
